<div
  style="border:1px solid rgba(0,0,0,0.1);background: white; box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.17);padding: 20px;min-height:400px;">
  <div class="row"
       style="border-bottom: 0px solid  #00428b;color:#00428b; background: transparent;margin-bottom: 0px;text-transform: uppercase;">
    <div class="title-font col-md-8 col-sm-8 col-lg-8" style="font-size: 1.5em;">Liste des utilisateurs
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
      <!-- <input
        class="ngx-tab-filter"
        type='text'
        style='padding:8px;margin:15px auto;font-family: "Century Gothic", cursive, sans-serif;text-transform: capitalize'
        placeholder='Filtrer par nom ...'
        (keyup)='updateFilter($event)'
      /> -->
    </div>
  </div>
  <hr>

  <div class="ngx-tab-border">
    <ngx-datatable
      #myTable
      class="material striped"
      [columnMode]="'force'"
      [rowClass]="getRowClass"
      [footerHeight]="50"
      [limit]="10"
      [headerHeight]="50"
      [rowHeight]="50"
      [selected]="selected"
      [messages]="{emptyMessage: 'Aucun résultat ne correspond à votre recherche', totalMessage: 'utilisateur(s) '}"
      [rows]="rows">

      <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div style="padding-left:35px;">
            Habilitations :
          </div>
        </ng-template>
      </ngx-datatable-row-detail>

      <!-- Column Templates -->
      <ngx-datatable-column
        [width]="50"
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a
            href="javascript:void(0)"
            [class.datatable-icon-right]="!expanded"
            [class.datatable-icon-down]="expanded"
            title="Expand/Collapse Row"
            (click)="toggleExpandRow(row)">
          </a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="CODE APHP" headerClass="header-ngx-table" [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{row.codeAph}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="NOM PATRONYQUE" headerClass="header-ngx-table" [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{row.nomPatronymique}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="NOM D'USAGE" headerClass="header-ngx-table" [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{row.nomUsuel}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="PRENOM" headerClass="header-ngx-table" [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{row.prenom}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="TELEPHONE" headerClass="header-ngx-table" [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{row.telephone}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="EMAIL" headerClass="header-ngx-table" [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{row.email}}</span>
        </ng-template>
      </ngx-datatable-column>

      <!-- <ngx-datatable-column name="ROLES" headerClass="header-ngx-table" [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>Admin, DP, DED </span>
        </ng-template>
      </ngx-datatable-column> -->

      <ngx-datatable-column name="ACTIF" headerClass="header-ngx-table" [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="form-check-inline">
            <label class="checkbox-primary">
              <input type="checkbox" name="actif" #actif (change)="confirm(row)" [checked]="row.actif =='1'"/></label>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="ACTIONS" headerClass="header-ngx-table" [cellClass]="getCellClass" [width]="100">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="btn-group" role="group" aria-label="Basic example" style="margin-top:-8px;">
            <!--<button type="button" class="btn btn-primary label-form-font" (click)="deleteUser(row)">-->
              <!--<i class="fa fa-trash menu-lft clr-ft-icon" style="color:#00428b;"></i>&nbsp;Supprimer-->
            <!--</button>-->
            <button type="button" class="btn btn-default label-select-font" (click)="setHabilitations(row)">
              <i class="fa fa-pencil menu-lft clr-ft-icon" style="color:#00428b;" ></i>&nbsp;droits
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>


  </div>

  <div style="margin-top:25px;margin-bottom: 30px;">
    <div (click)="addNewUSer()">
      <span class="label-select-font" style="text-decoration: underline;cursor: pointer">
        <i class="fa fa-files-o edit menu-lft clr-ft-icon" style="color:#00428b;"></i>
        Ajouter un nouveau utilisateur
      </span>
    </div>
  </div>
  
</div>
