.alert-info {
  background: white;
  color: #a7145a !important;
  border-radius: 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  position: relative;
  margin: auto;
  font-family: 'OpenSans';
  margin-top:2em;
  padding:0.75em;
}

//////////////////////MESSAGE INFOS///////

/*erreur*/

.alert-danger {

  text-align: center !important;
  color: #721c24 !important;
  background: #f6f6f6 !important;
  border-radius: 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  margin-top:2em;
  padding:0.75em;
 
}
.liens{text-decoration: underline!important;
 font-weight:bold;}
 h4 {
  font-size: 0.9em;
  padding-top: 0.5em;
  color:#323a45 !important;
  font-family: 'Open Sans Light' !important;
}

.alert.alert-danger.text-center > h4 {
  color: #323a45 !important;
  font-family: 'Open Sans Light' !important;
}
.alert-danger hr {
  border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
}

/*info*/

.alert-info hr {
  border-top: 1px solid #EDEDEC !important;
}

h4.alert-heading {
  font-size: 0.9em;
  color: #323a45 !important;
}
