<div class="alert text-center info-error-message" role="alert" [hidden]="!errorInfoStatus.visible" [ngClass]="{
    'alert-danger': errorInfoStatus.type === 'ERROR',
    'alert-info': errorInfoStatus.type === 'INFO'
 }">

    <i class="fa fa-2x" [ngClass]="{
    'fa-exclamation-triangle': errorInfoStatus.type === 'ERROR',
    'fa-info-circle': errorInfoStatus.type === 'INFO'
 }"></i>

    <h4 class="alert-heading" [innerHTML]='title' [ngClass]="{'alert-error':errorInfoStatus.type === 'ERROR'}"></h4>

</div>
