.dp{
    cursor:pointer;
}
.del-icone{
    position:absolute;
    top:8px;
    right:54px;
    z-index:10000
}
.del-i-icone{
    color:rgba(49, 48, 48,.8);
    cursor:pointer
}

.has-errors {
    border-color: #a94442;
}
.text-cnt{
    text-align: right;
}
.btn-icon-date{
    position: absolute;
    top:0;
    left:5%;
}
.btn-icon-date:hover{
    background: #a7145a;
    color: white;
  }
.input-txt-cal{
    border:1px solid red;
    display: block;
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    margin-left:25%;
    text-align: center;
}

.ngxmdp .tablesingleday:hover, .ngxmdp .tablesinglemonth:hover, .ngxmdp .tablesingleyear:hover{
    background-color: #a7145a;
    color: #fff;
  }