<div class="input-group">
    <input
            id="elDatepicker"
            class="text-cnt input-txt-cal"
            placeholder="JJ/MM/AAAA"
            name="mydate"
            value="{{model}}"
            ngx-mydatepicker
            #dp="ngx-mydatepicker"
            (blur)="onInputFieldChanged($event)"
            (dateChanged)="onDateChanged($event)"
            [ngClass]="{'dp':isValide, 'has-errors': error}"
            [textMask]=MASK_DATE_FORMAT
            keepCharPositions='true'
            [options]="datePickerOptions"
            readonly
            disabled/>

    <!--<a (click)="dp.clearDate();hideClearCalendar=true;" class="del-icone" [hidden]="hideClearCalendar">-->
    <!--<span class="glyphicon glyphicon-remove del-i-icone"></span>-->
    <!--</a>-->
    <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-icon-date"
            [ngClass]="{'dp':isValide, 'has-errors': error}" (click)="dp.toggleCalendar()"
            [disabled]="stateInputDatePicker">
      <i class="fa fa-calendar"></i>
    </button>
  </span>
</div>