<div style="border:1px solid rgba(0,0,0,0.1);background: white;padding: 20px;min-height:400px;">
  <div class="row" style="border-bottom: 0px solid  #00428b;color:#00428b; background: transparent;margin-bottom: 0px;text-transform: uppercase;">
    <div class="title-font col-md-8 col-sm-8 col-lg-8" style="font-size: 1.5em;">Liste de catégorie de domaine
    </div>
  </div>
  <hr>
  <div class="ngx-tab-border">
    <ngx-datatable #myTable class="material striped" [columnMode]="'force'" [rowClass]="getRowClass" [footerHeight]="50" [limit]="10"
      [headerHeight]="50" [rowHeight]="50" [selected]="selected" [messages]="{emptyMessage: 'Aucun résultat à afficher', totalMessage: 'catégorie(s) de domaine '}"
      [rows]="rows">

      <!-- <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          
        </ng-template>
      </ngx-datatable-row-detail> -->

      <!-- Column Templates -->
      <!-- <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
            (click)="toggleExpandRow(row)">
          </a>
        </ng-template>
      </ngx-datatable-column> -->

      <ngx-datatable-column name="LIBELLE" headerClass="header-ngx-table" [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{row.libelle}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="NOMBRE DE GROUPE AFFECTE " headerClass="header-ngx-table" [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{checkStringOccurences(row.categorieParent)}} 
            <i class="fa fa-plus-square menu-lft clr-ft-icon" style="color:#00428b;"></i>
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="ACTIONS DE GESTIONS" headerClass="header-ngx-table" [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="btn-group" role="group" aria-label="Basic example" style="margin-top:-8px;">
            <button type="button" class="btn btn-primary label-form-font" (click)="deleteUser(row)">
              <i class="fa fa-trash menu-lft clr-ft-icon" style="color:#00428b;"></i>&nbsp;Supprimer
            </button>
            <!-- <button type="button" class="btn btn-default label-select-font" (click)="setHabilitations(row)">
              <i class="fa fa-pencil menu-lft clr-ft-icon" style="color:#00428b;" ></i>&nbsp;droits
            </button> -->
          </div>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
  <br>
</div>