.ngx-cell {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .ngx-cell-each-column {
    background-color: rgba(0, 69, 139, .1);
  }
  
  .header-ngx-table {
    text-align: center !important;
    font-weight: bold !important;
    text-transform: uppercase;
    font-family: "Century Gothic", cursive, sans-serif;
    color: rgba(0, 0, 0, 1) !important;
  }
  
  .text-ngx-table {
    text-align: center !important;
    font-family: "Century Gothic", cursive, sans-serif;
  }
  
  .btn {
    border-radius: 0rem !important;
    background: transparent!important;
    border: 1px solid transparent!important;
    color:black;
    font-weight: normal!important;
    text-decoration: underline;
  }
  
  .datatable-icon-right:before {
    content: "\70";
    color: #00428b;
    font-weight: bold;
  }
  
  .ngx-datatable.material .datatable-footer {
    margin-top: 15px;
    border-top: 0px solid rgba(0, 0, 0, 0.12) !important;
    font-size: 12px;
    font-weight: 400;
  }
  
  .ngx-datatable{
      height:700px;
  }
  .ngx-tab-filter {
    display: block;
    position: absolute;
    border-top: none;
    border-left: none;
    width: 80%;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    top:-22px;
    right: 20px;
  
  
  }
  
  .ngx-tab-border{
    border: 1px solid rgba(0,0,0,0.1);
    background: white;
    //box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.17);
    padding: 0px;
    min-height: 715px;
  }
  .ngx-datatable.material .datatable-footer .page-count {
  
  }
  
  .ngx-datatable .datatable-footer .datatable-footer-inner {
    border-top: 1px solid rgba(0,0,0,.1);
  }
  
  .ngx-datatable.material .empty-row {
    height: 50px;
    text-align: center;
    padding: 1rem 3.2rem;
    vertical-align: top;
    border-top: 0;
    font-size: 1.3rem;
    font-family: "Century Gothic", cursive, sans-serif;
  }
  