$bordeau: #00428b;
$violet-gris: #8f6c7c;
$prune: #00428b;
$gris-clair: #EDECEC;
$gris-clair-bleu: #767C67;
$gris-fonce: #323a45;

.clr-ft-icon {
  color: white !important;
}

.log {
  font-size: 1.75em;
  color: #323a45;
}

.log.disabled {
  font-size: 1.75em;
  color: #323a45;
  opacity: 0.5;
  cursor: default;
}

h5.user-type {
  font-size: 1.5em;
  padding-top: 21px;
  padding-bottom: 0em;
  text-transform: uppercase;
  text-align: center;
  color: #323a45;
  opacity: 0.75;
}

/* navbar */
nav {
  margin: 0 0 0 0;
}

.navbar-brand {
  margin-left: 152px;
  width: 10px;
  color: #00428b;
}

.navbar {
  top: 0 !important;
  line-height: 1em;
  background: white;
  //border-bottom: 1px solid rgba(0,66,139,0.8);
  border-radius: 0;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
  height: 90px;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

#logo {
  cursor: pointer;
}

.brand {
  z-index: 1 !important;
  display: inline-block;
  position: absolute;
  //border-left:1px solid rgba(0,0,0,.3);
  left: 16.8%;
  top: 28px;
  padding-left: 15px;
  padding-top: -12px !important;
  padding-bottom: 5px !important;
  height: 40px;
  text-transform: uppercase;
  color: #00428b;
}

.t1 {
  font-size: 0.85em;
  top: -8px;
  //font-weight: bold;
}

.t2 {
  font-family: 'OpenSans';
  display: block;
  font-size: 0.55em;
  letter-spacing: 0.35em;
  padding-top: 5px;
}

#navvolet {
  width: 90%;
  list-style: none;
  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0;
}

#navvolet li a {
  padding-top: 0.75em;
  font-weight: 300;
  padding-left: 0.5em;
  padding-bottom: 0.75em;
  display: block;
  color: black !important;
  background: #3d4654;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  line-height: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

#navvolet li a:hover, #navvolet li a:focus, #navvolet li a:active {
  background: #475261;
  color: black !important;
  border-top: 1px solid rgba(0, 0, 0, 0.125);

}

#volet a.ouvrir,
#volet a.fermer {
  width: 40px;
  height: 40px;
  background: #00428b !important;
  color: white;
  text-decoration: none;
  z-index: 8 !important;

}

#volet > a.ouvrir > i,
#volet > a.fermer > i {
  padding: auto;
  color: white;
  width: 20px;
  height: 20px;
  padding: 15px;
  font-size: 1.5em;

}

#volet {
  display: block;
  z-index: 10;
  background: #323a45;
  color: #323a45;
  min-height: 100%;
  max-height: auto;
  top: .6em;

}

#volet a.ouvrir,
#volet a.fermer {
  width: 50px;
  height: 50px;
  background: #a7145a;
  color: white;
  text-decoration: none;
  z-index: 8 !important;

}

#volet {
  font-family: 'OpenSans';
  border-right: #00428b 10px solid;
  z-index: 8 !important;
  position: absolute;
  height: auto;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

#volet a.ouvrir {
  position: absolute;
  top: 14px;
}

#volet a.fermer {
  display: none;
  position: absolute;
  top: 14px;
  right: -53px;
}

.login {
  position: absolute;
  right: 1.75em;
  //top: 1.5em;
}

.pds-tablet.pds-mac.pds-safari > * > .login {
  position: absolute;
  right: 3.5em !important;
  top: 1.5em;
}

.pds-mobile.pds-android.pds-chrome > * > .login {
  position: absolute;
  right: 3.5em !important;
  top: 1.5em;
}

.bienvenue, .user-connected, .lb-user-text {
  font-family: "Century Gothic", cursive, sans-serif;
}

@media(min-width: 1024px) {
  .bienvenue {
    display: inline-block;
    text-transform: capitalize;
    color: black;
  }
  .user-connected {
    display: inline-block;
    text-transform: capitalize;
    color: black;
  }

  .logo {
    margin-left: 70px;
    top: 10px;
  }
  #volet {
    left: -26.5vw; /* test fixed + scroll, on retire la position top */
    width: 25vw;
  }

  #volet a.ouvrir {

    right: -75px;

  }
  #volet a.fermer {
    right: -53px;
  }

  /* code pour la fermeture */

  #volet:target a.fermer {
    display: block;
  }
  #volet:target a.ouvrir {
    display: none;
  }
  #volet_clos:target #volet {
    left: -26.5vw;
  }

  #volet_clos {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 8;
    max-height: 100%;
    min-height: 100%;
  }

  #volet:target {
    left: -3px;
  }
}

@media (min-width: 1024px) and (max-width: 1228px) {
  .menu-lft {
    float: left;
    font-size: 1.5em;
    padding-left: 0.15em;
    padding-right: 0.25em;
    color: #323a45;
    opacity: 0.75;
    &:hover {
      color: #FFFFFF;
    }
  }
  .LIF-PIC-B {
    font-family: "open_sans_condensedbold";
    font-size: 1.25em;
    letter-spacing: -0.05em;
    margin-left: 2px;
  }
}

@media (min-width: 1228px) {
  .menu-lft {
    float: left;
    color: white;
    font-size: 1.5em;
    padding-left: 1.5em;
    padding-right: 0.5em;
    color: #323a45;
    opacity: 0.75;
    &:hover {
      color: #FFFFFF;
    }
  }
  .LIF-PIC-B {
    font-family: "open_sans_condensedbold";
    font-size: 1.25em;
    letter-spacing: -0.05em;
    margin-left: 7px;
  }
}

@media (max-width: 425px) {
  .menu-lft {
    float: left;
    font-size: 1.35em;
    padding-left: 0.25em;
    padding-right: 0.15em;
    color: #323a45;
    opacity: 0.75;
    &:hover {
      color: #FFFFFF;
    }
  }
  .LIF-PIC-B {
    font-family: "open_sans_condensedbold";
    font-size: 1.25em;
    letter-spacing: -0.05em;
    margin-left: 2px;
  }
}

@media (min-width: 426px) and (max-width: 1025px) {
  .menu-lft {
    float: left;
    font-size: 1.5em;
    color: white;
    padding-left: 0.25em;
    padding-right: 0.15em;
    opacity: 0.75;
    &:hover {
      color: #FFFFFF;
    }
  }
  #navvolet {
    li {
      a {
        font-size: small;
      }
    }
  }
  .LIF-PIC-B {
    font-family: "open_sans_condensedbold";
    font-size: 1.25em;
    letter-spacing: -0.05em;
    margin-left: 7px;
  }
  .user-connected {
    display: inline-block;
    font-size: smaller;
    text-transform: capitalize;
    color: black;
  }
  .logo {
    margin-left: 63px;
    top: 10px;
  }

  .bienvenue {
    display: none;
    text-transform: capitalize;
    color: white;
  }
  .brand {
    display: none !important;
  }

  #volet {
    left: -56.5vw; /* test fixed + scroll, on retire la position top */
    width: 55vw;
  }

  #volet a.ouvrir {

    right: -63px;

  }
  #volet a.fermer {
    right: -63px;
  }

  /* code pour la fermeture */

  #volet:target a.fermer {
    display: block;
  }
  #volet:target a.ouvrir {
    display: none;
  }
  #volet_clos:target #volet {
    left: -56.5vw;
  }

  #volet_clos {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 8;
    max-height: 100%;
    min-height: 100%;
  }

  #volet:target {
    left: -3px;
  }
}

@media (max-width: 425px) {
  .user-connected {
    display: inline-block;
    text-transform: capitalize;
    width: 123px;
    font-size: smaller;
    margin-right: 0.5em;
    text-align: right;
    margin-bottom: auto;
    margin-top: auto;
    color: black;

  }
  .logo {
    display: block;
    margin-left: 60px;
    top: 10px;
    background: red;
  }

  .bienvenue {
    display: none;
    text-transform: capitalize;
    color: black;
  }

  .brand {
    display: none !important;
  }

  #volet {
    left: -100.5vw; /* test fixed + scroll, on retire la position top */
    width: 102vw;
  }

  #volet a.ouvrir {

    right: -54px;

  }
  #volet a.fermer {
    right: 0px;
  }

  /* code pour la fermeture */

  #volet:target a.fermer {
    display: block;
  }
  #volet:target a.ouvrir {
    display: none;
  }
  #volet_clos:target #volet {
    left: -100.5vw;
  }

  #volet_clos {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 8;
    max-height: 100%;
    min-height: 100%;
  }

  #volet:target {
    left: 0px;
  }

  .visible {
    width: 28px;
    position: absolute;
    right: -15px;
    top: -10px;
  }

}

/* badge */
.badge-primary {
  background: #a7145a;
}

.pastille-badge-head {
  width: 28px;
  position: absolute;
  right: -15px;
  top: -10px;
}

.picto-item-notif:hover:after,
.picto-item-notif:focus:after {
  content: attr(data-popin); /* attr(aria-label);  on affiche aria-label */
  font-family: 'OpenSans';
  position: absolute;
  top: .15em;
  right: -70px;
  transform: translateX(-50%); /* on centre horizontalement  */
  z-index: 3; /* pour s'afficher au dessus des éléments en position relative */
  white-space: nowrap; /* on interdit le retour à la ligne*/
  padding: 5px 14px;
  background: #000;
  color: #fff;
  font-weight: 200;
  border-radius: 4px;
  font-size: 0.5em;
}

.icon-notif {
  cursor: pointer;
}

.displayNone {
  display: none;
}

.span-user-connect {
  background: #00428b;
  color: white;
  font-weight: bold;
  padding: 8px;
}

.btn-outline-primary {
  color: black;
  border-color: transparent !important;;
}

.input-group-text {
  border-radius: 0rem !important;
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background: #3d4654;
  /* border-bottom: 1px solid rgba(0,0,0,.125); */
}

.setting {
  display: none;
}
