<div class="header">
  <!--content navbar(header)-->
  <nav class="navbar fixed-top">

    <div class="navbar-brand">
      <a routerLink="/page-d-accueil" routerLinkActive="active" class="navbar-brand">
        <img id="logo" class="logo" alt="OUANTID" src="assets/images/png/logo-aphp.png" width="250" height="50"/>
        <div class="brand">
          <span class="t1 label-select-font" [innerHTML]="'HEAD-MENU.TITLE'" translate></span>
          <br>
          <span class="t2" [innerHTML]="'HEAD-MENU.DESCRIPTION'" translate></span>
        </div>
      </a>
    </div>

    <div class="login head-menu-font" href="aphp.fr">
      
      &nbsp;
      &nbsp;
      |
      &nbsp;
      &nbsp;
      <p class="bienvenue" [innerHTML]="'HEAD-MENU.TITLE-WELCOME'" translate></p>
      <p class="user-connected">&nbsp;{{user.name}} {{user.lastname}}</p>
      &nbsp;
      <span class="span-user-connect"><i class="fa fa-user-o"></i></span>
      &nbsp;
      |
      &nbsp;
      <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
        <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
          <span [innerHTML]="'LANGUAGE.HEAD-MENU.LANGUAGE'" class="lb-user-text" translate style="color:black"></span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button class="dropdown-item" (click)="setLanguage('fr')"><span [innerHTML]="'LANGUAGE.HEAD-MENU.LANG-FR'"
                                                                          translate></span></button>
          <button class="dropdown-item" (click)="setLanguage('en')"><span [innerHTML]="'LANGUAGE.HEAD-MENU.LANG-EN'"
                                                                          translate></span></button>
        </div>
      </div>
    </div>
  </nav>
  <!--FIN VOLET -->
</div>
<!--header-->
