<!-- Modal -->
<div class="modal-dialog modal-dialog-centered" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">
          <i class="fa menu-lft"
             [ngClass]="{'fa-lock ':action.type==='0','fa-unlock':action.type==='1'}">
          </i>
          {{title | translate}}</h3>
        <button type="button" class="close" (click)="close()">
          <span>&times;</span>
        </button>
      </div>
      <!-- content of the modal //-->
      <div class="modal-body">
        <p class="label-select-font" style="padding:50px;"><i class="fa fa-exclamation-triangle" style="font-size: 1.4em;color:#ff002a"></i> {{action.value}}</p>
      </div>

      <div class="modal-footer">
        <!--<button type="button" class="btn-reset" (click)="close()">-->
          <!--Non-->
        <!--</button>-->
        <button type="button" class="btn-submit" (click)="_activated()">
          OK
        </button>

      </div>
    </div>
  </div>
</div>
