.side-menu-left {
  margin: auto;
  text-align: center;
  width: 16.75%;
  position: fixed;
  background: #00428b;
  margin: 0;
  top: 0;
  bottom: 0;
  color: white;
  //border:1px solid red;
  z-index: 3000
}

.list-side-menu-left{
  margin-top: 60px;
  margin-left: -20px;
}
.list-side-menu-left ul{
  border:1px solid transparent;
  width:94%;
}

.list-side-menu-left ul li{
  color:white;
  list-style-type: none;
  text-align: left;
  margin-bottom: 20px;
  //letter-spacing: 0.10em;
  font-size: .9em;
  text-transform: uppercase;

}

.list-side-menu-left ul li a{
  color:white;
}

.menu-left-div{
  border:1px solid transparent;
}

.logo{
  width:100%;
  height:25%!important;
  margin-top:10px;
}


#menu-accordeon {
  margin:0;
  list-style:none;
  text-align: center;
}
#menu-accordeon ul {
  list-style:none;
  text-align: center;
}
#menu-accordeon li {
  //background-color:#729EBF;
  //background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
  //background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
  //border-radius: 6px;
  //margin-bottom:2px;
  //box-shadow: 3px 3px 3px #999;
  //border:solid 1px #333A40
  margin-top:-20px;
}
#menu-accordeon li li {
  max-height:0;
  overflow: hidden;
  transition: all .5s;
  border-radius:0;
  //background: #444;
  box-shadow: none;
  border:none;
  margin:0
}
#menu-accordeon a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: "Century Gothic", cursive, sans-serif;
  font-size:1.2em
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
  font-size:1em
}
#menu-accordeon li:hover {
  //background: #729EBF
}
#menu-accordeon li li:hover {
  //background: #999;
}
#menu-accordeon ul li:last-child {
  border-radius: 0 0 6px 6px;
  border:none;
}
#menu-accordeon li:hover li {
  max-height: 10em;
}
