<div class="side-menu-left menu-left-font">
  <div class="menu-left-div">
    <a routerLink="/" routerLinkActive="active">
      <img class="logo" alt="OUANTID" src="assets/images/png/logo-aphp.png"/>
    </a>
  </div>

  <div class="list-side-menu-left">
  
    <ul id="menu-accordeon">
      <li>
        <a routerLink="list-user" routerLinkActive="active">
          <span>{{'MENU-LEFT.3'| translate}}</span></a>
        <ul>
          <li><a routerLink="add-user-ldap">Ajouter un utilisateur</a></li>
          <li><a routerLink="list-user">Consulter la liste des utilisateurs</a></li>
          <li><a routerLink="habilitations-user">Gérer les habilitations</a></li>
          <!-- <li><a href="#">Rechercher un utilisateur</a></li> -->
        </ul>
      </li>

      <li> 
        <a routerLink="list-categorie-domaine">
          <span>{{'MENU-LEFT.1'| translate}}</span>
        </a>

        <ul>
          <!-- <li><a routerLink="">Ajouter une categorie de domaine</a></li> -->
          <li><a routerLink="list-categorie-domaine">Consulter la liste des categorie de domaine</a></li>
          <!-- <li><a routerLink="habilitations-user">Gérer les habilitations</a></li>
          <li><a href="#">Rechercher un utilisateur</a></li> -->
        </ul>

      </li>

      <li>
        <a routerLink="">
          <span>{{'MENU-LEFT.2'| translate}}</span>
        </a>

        
        <ul>
          <!-- <li><a routerLink="">Ajouter un domaine</a></li> -->
          <li><a routerLink="list-domaine">Consulter la liste des domaines</a></li>
          <!-- <li><a routerLink="habilitations-user">Gérer les habilitations</a></li>
          <li><a href="#">Rechercher un utilisateur</a></li> -->
        </ul>

      </li>
      
      <li>
        <a routerLink="admin/domaine-service">
          <span>{{'MENU-LEFT.4'| translate}}</span>
        </a>
      </li>
      <li>
        <a routerLink="admin/domaine-service">
          <span>{{'MENU-LEFT.5'| translate}}</span>
        </a>
      </li>

      <li>
        <a routerLink="logout">
          <span>SE DECONNECTER</span>
        </a>
      </li>
    </ul>
  </div>
</div>
