<div
  style="border:1px solid rgba(0,0,0,0.1);background: white; box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.17);padding: 20px;min-height:400px;">
  <div
    style="border-bottom: 0px solid  #00428b;color:#00428b;width:260px; background: transparent;margin-bottom: 25px;text-transform: uppercase;">
    <div class="title-font" style="position:relative;width:550px;font-size: 1.5em;">Administration service
    </div>
  </div>
  <hr>
  <div>
    <form [formGroup]="addDomaineServiceForm" (ngSubmit)="onSubmit(addDomaineServiceForm)">
      <br>

      <div class="form-group row">
        <label for="typeahead-format" class="col-sm-4 col-form-label label-select-font">{{'ADD-USER.FORM.SITE'|
          translate}}</label>
        <div class="col-sm-5">
          <select class="form-control" style="height:50px;"
                  formControlName="site"
                  appValidatorEmptyField
                  [errorMessageEmptyFieldValidator]="'ADD-USER.ERROR.SITE'"
                  [ngClass]="{'has-errors':addDomaineServiceForm.controls.site.invalid && addDomaineServiceForm.controls.site.touched}"

          >
            <option value="null">{{'ADD-USER.PLACEORDER-SITE'| translate}}</option>
            <option *ngFor="let site of sites; let i=index" [value]="site.id">{{site.value}}</option>
          </select>
          <app-show-errors-input-field
            [control]="addDomaineServiceForm.controls.site"
            [typeMessage]="'ERROR'">
          </app-show-errors-input-field>
        </div>

      </div>

      <div class="form-group row">
        <label for="typeahead-format" class="col-sm-4 col-form-label label-select-font">Sélectionner le service</label>
        <div class="col-sm-5">
          <select class="form-control"
                  style="height:50px;"
                  formControlName="service"
                  appValidatorEmptyField
                  [errorMessageEmptyFieldValidator]="'Choisir un service'"
                  [ngClass]="{'has-errors':addDomaineServiceForm.controls.service.invalid && addDomaineServiceForm.controls.service.touched}"

          >
            <option value="null">Selectionner un service</option>
            <option *ngFor="let service of services; let i=index" [value]="service.id">{{service.value}}</option>
          </select>
          <app-show-errors-input-field
            [control]="addDomaineServiceForm.controls.service"
            [typeMessage]="'ERROR'">
          </app-show-errors-input-field>
        </div>
      </div>


      <div class="form-group row">
        <label for="typeahead-format" class="col-sm-4 col-form-label label-select-font">Libellé alternatif</label>
        <div class="col-sm-5 col-offset-2">
          <input id="typeahead-format" type="text" class="form-control"
                 formControlName="groupes"
                 appValidatorEmptyField
                 [errorMessageEmptyFieldValidator]="'Veuillez saisir un libellé'"
                 placeholder="Groupes"
                 [ngClass]="{'has-errors':addDomaineServiceForm.controls.groupes.invalid && addDomaineServiceForm.controls.groupes.touched}"
          />
          <app-show-errors-input-field
            [control]="addDomaineServiceForm.controls.groupes"
            [typeMessage]="'ERROR'">
          </app-show-errors-input-field>
        </div>
      </div>

      <br>
      <hr>
      <br>

      <div class="form-group row">
        <label for="typeahead-format" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8" style="text-align:right">
          <input type="reset" value="{{'ADD-USER.FORM.BTN-RESET'| translate}}" class="btn-reset btn-font"/>
          <input type="submit" value="{{'ADD-USER.FORM.BTN-SUBMIT'| translate}}" class="btn-submit btn-font"/>
        </div>

      </div>

    </form>
  </div>
  <div style="margin-top:50px">
  </div>
</div>
