.form-control {
    display: block;
    height: 50px;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #00428b;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 15px;
  }
  
  .col-form-label {
    font-size: 1.2em;
    text-align: right;
    //font-weight: bold;
    color:rgba(0,0,0,0.7);
  }
  
  .btn-submit, .btn-reset {
    height: 55px;
    text-transform: uppercase;
    margin-left: 30px;
    width: 180px;
    border: 1px solid transparent;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn-submit {
    background: linear-gradient(#0a4e8b, #00428b);
    color: #fff;
  }
  //
  //.form-check-inline {
  //  background: transparent;
  //  height:24px;
  //  color: #a7145a;
  //  border: #a7145a thin;
  //}
  //
  //label.form-check-inline.fl-left {
  //  width: 48%;
  //  float: left;
  //  font-size: smaller;
  //}
  
  
  
  input, select{border-radius:0;}
  
  input:focus{border-radius: 0;}
  
  label.form-check-inline{ align-items: start;
    padding-left: 0;
    margin-right: 0.75rem;
    line-height: 15px;
  }
  
  .form-check-inline.checkbox-primary{
    background: transparent;
    color: #00428b;
    border: #00428b thin; border-radius: 0!important;
  }
  input[type="checkbox"]:checked:before {
    transform: scale(1);
  }
  input[type="checkbox"]:before {
    content: "";
    display: block;
    height: 12px;
    position: relative;
    transform: scale(0);
    transition: transform 0.3s;
    width: 12px;
    background-color: #00428b;
    color:#00428b;
  }
  
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #00428b;
    margin-right: 10px;
    position: relative;
  }
  
  
  
  
  
  @media(min-width:769px){
    label.form-check-inline.fl-left{
      width:25%;
      float:left;
      font-size: smaller;
  
    }
  
  }
  
  @media(max-width:768px){
    label.form-check-inline.fl-left{
      width:100%;
      float:left;
      font-size:smaller;
    }
  
  }
  
  .has-errors{
    border:1px solid red;
  }
  