$bordeau: #a7145a;
$violet-gris: #8f6c7c;
$prune: #851048;
$gris-clair: #EDECEC;
$gris-clair-bleu: #767676;
$gris-fonce: #323a45;
// Footer
// -----------------------------------------------------------------------------

.footer {

  bottom: 0 !important;
  height: auto;
  line-height: 1em; /* pour centrer le text en hauteur */
  min-width: 100% !important;
  background: white;
  border-top: thick solid $gris-clair;
  border: none;
  position: fixed;
}

.footer > a {
  padding-top: _rem(60px);
  padding-bottom: _rem(60px);
}



