.form-control {
  display: block;
  height: 50px;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #00428b;
  border-radius: 0rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-bottom: 15px;
  font-family: "Century Gothic", cursive, sans-serif;
}

.col-form-label {
  font-size: 1.2em;
  text-align: right;
  //font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

.btn-submit, .btn-reset {
  height: 55px;
  text-transform: uppercase;
  margin-left: 30px;
  width: 180px;
  border: 1px solid transparent;
  font-weight: bold;
  cursor: pointer;
}

.btn-submit {
  background: linear-gradient(#0a4e8b, #00428b);
  color: #fff;
}

//
//.form-check-inline {
//  background: transparent;
//  height:24px;
//  color: #a7145a;
//  border: #a7145a thin;
//}
//
//label.form-check-inline.fl-left {
//  width: 48%;
//  float: left;
//  font-size: smaller;
//}

input, select {
  border-radius: 0;
}

input:focus {
  border-radius: 0;
}

label.form-check-inline {
  align-items: start;
  padding-left: 0;
  margin-right: 0.75rem;
  line-height: 15px;
}

.form-check-inline.checkbox-primary {
  background: transparent;
  color: #00428b;
  border: #00428b thin;
  border-radius: 0 !important;
}

input[type="checkbox"]:checked:before {
  transform: scale(1);
}

input[type="checkbox"]:before {
  content: "";
  display: block;
  height: 12px;
  position: relative;
  transform: scale(0);
  transition: transform 0.3s;
  width: 12px;
  background-color: #00428b;
  color: #00428b;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #00428b;
  margin-right: 10px;
  position: relative;
}

@media(min-width: 769px) {
  label.form-check-inline.fl-left {
    width: 25%;
    float: left;
    font-size: smaller;

  }

}

@media(max-width: 768px) {
  label.form-check-inline.fl-left {
    width: 100%;
    float: left;
    font-size: smaller;
  }

}

.has-errors {
  border: 1px solid red;
}

.suggestions {
  height: 250px;
  overflow: hidden
}

.border {
  border: 1px solid transparent !important;
  padding: 0!important;
}

.delete-padding-top {
  padding-top: 0px;
}

.delete-padding-bottom {
  padding-bottom: 0px;
}

:host ::ng-deep .highlight-nationality {
  font-weight: bold;
}

.alignLeft {
  text-align: left !important;
}

.list-group li {
  border-bottom: 1px solid rgba(0, 0, 0,.1);
  height:50px!important;
  padding: 10px;
  width:100%;
  cursor: pointer;
}

.list-group li:hover {
 background:  rgba(0, 69, 139, .1);
}

.list-group{
  border: 1px solid #ccc !important;
}
.list-group li:last-child {
  border-bottom: none;
  margin-bottom: 5px;
}
.readonly{
  background: rgba(0, 0, 0, .050);

}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0rem;
}

.alert-warning {
  color: black;
  background: rgba(0, 69, 139, .050);
  border:1px solid #00428b
  //background-color: rgba(133, 100, 4, 0.53);
  //background-color: transparent;
}

/*loader */
.loader-page {
  background: rgba(255,255,255,.7);
  padding-top:8%;
  z-index: 1001;
  position: absolute ;
  top:0;
  bottom:0!important;
  left:1%;
  right:1%;
}
