<div
  style="border:1px solid rgba(0,0,0,0.1);background: white;padding: 20px;">
  <div
    style="border-bottom: 0px solid  #00428b;color:#00428b;width:260px; background: transparent;margin-bottom: 25px;text-transform: uppercase;">
    <div class="title-font" style="position:relative;width:550px;font-size: 1.5em;">{{'ADD-USER.LABEL'|translate}}</div>
  </div>
  <!--[(ngModel)]="model"-->
  <!--[value]="model['firstName']+' '+model['lastName']"-->
  <div class="alert alert-warning label-select-font" *ngIf="showWarning">
    <i class="fa fa-exclamation-triangle" style="color: #8a6d3b"></i>&nbsp;<strong style="color: #8a6d3b">Avertissement!</strong> L'utilisateur <strong>{{user?.prenom}}</strong>&nbsp;
    <strong>{{user?.nomUsuel}}</strong> exite déjà en base.
  </div>

  <div>
    <form [formGroup]="addUserLDAPForm" (ngSubmit)="onSubmit(addUserLDAPForm)">
      <hr>
      <br>
      <div class="form-group row">
        <label for="typeahead-format" class="col-sm-4 col-form-label label-select-font">{{'ADD-USER.FORM.NAME'|
          translate}}</label>
        <div class="col-sm-6 col-offset-2">
          <input id="typeahead-format" type="text" class="form-control"
                 formControlName="userLDAP"
                 appValidatorEmptyField
                 [errorMessageEmptyFieldValidator]="'ADD-USER.ERROR.NAME'"
                 placeholder="{{'ADD-USER.PLACEORDER-USER'| translate}}"
                 #userLDAP
                 [ngClass]="{'has-errors':addUserLDAPForm.controls.userLDAP.invalid && addUserLDAPForm.controls.userLDAP.touched}"
                 (keyup)=filterUserLDAP(addUserLDAPForm.controls.userLDAP.value)

          />
          <div *ngIf="userLDAPFilter && userLDAPFilter.length>0 && blocSelect" class="col-sm-12 delete-padding border"
          >
            <ul class="list-group list-group-flush suggestions"
                slimScroll
                [options]="opts">
              <li *ngFor=" let item of userLDAPFilter"
                  class="list-unstyled suggestions"
              >
                <span class="overflow-visible" (click)="selectUserLDAP(item)">{{item.nomUsuel}} {{item.prenom}} ({{item.codeAph}})</span>
              </li>
            </ul>
            <!-- ul End -->
          </div>
          <app-show-errors-input-field
            [control]="addUserLDAPForm.controls.userLDAP"
            [typeMessage]="'ERROR'">
          </app-show-errors-input-field>
        </div>
      </div>

      <div class="form-group row" *ngIf="showBtn">
        <label for="typeahead-format" class="col-sm-4 col-form-label label-select-font">{{'ADD-USER.FORM.SITE'|
          translate}}</label>
        <div class="col-sm-6 col-offset-2">
          <input id="typeahead-format" type="text" class="form-control readonly"
                 readonly
                 placeholder="site"
                 formControlName="site"
          />
        </div>
      </div>

      <div class="form-group row" *ngIf="showBtn">
        <label class="col-sm-4"></label>
        <div class="col-sm-6 col-offset-2">
          <fieldset style="padding:15px;background:  rgba(0, 69, 139, .050);border:1px solid #00428b;">
            <legend style="font-size:1.15em;width:45%" class="col-form-label label-select-font">Informations de l'utilisateur:</legend>

            <div class="form-group row">
              <label for="typeahead-format" class="col-sm-4 label-select-font">CODE APH:</label>
              <div class="col-sm-5">
                <span>{{user.codeAph}}</span>
              </div>
            </div>

            <div class="form-group row">
              <label for="typeahead-format" class="col-sm-4 label-select-font">NOM:</label>
              <div class="col-sm-5">
                <span>{{user.nomUsuel}}</span>
              </div>
            </div>

            <div class="form-group row">
              <label for="typeahead-format" class="col-sm-4 label-select-font">PRENOM:</label>
              <div class="col-sm-5">
                <span>{{user.prenom}}</span>
              </div>
            </div>

            <div class="form-group row">
              <label for="typeahead-format" class="col-sm-4 label-select-font">MAIL:</label>
              <div class="col-sm-5">
                <span>{{user.email}}</span>
              </div>
            </div>

            <div class="form-group row">
              <label for="typeahead-format" class="col-sm-4 label-select-font">TELEPHONE:</label>
              <div class="col-sm-5">
                <span>{{user.telephone}}</span>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <br>
      <hr>
      <br>

      <div class="form-group row" *ngIf="showBtn">
        <label for="typeahead-format" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8" style="text-align:right">
           <input type="button" (click)="goBack()" value="{{'ADD-USER.FORM.BTN-RESET'| translate}}" class="btn-reset btn-font"/>
          <input type="submit" value="{{btnSubmit}}" class="btn-submit btn-font"/>
        </div>
      </div>

      <div class="loader-page" [hidden]="detailsSpinner">
        <div class="loader"></div>
      </div>
    </form>
  </div>

</div>
<!-- [hidden]="detailsSpinner" //-->

