.alert-indicator {
  color: white;
  left: 100%;
  z-index: 1060;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  line-break: auto;
  white-space: inherit !important;
  height: 40px;

  span {
    width: 100%;
    white-space: inherit !important;
  }
}

.alert-error {
  color: #721c24 !important;
  list-style: none !important;
  text-decoration: none;
  margin-left: 0;
}

.alert-warning {
  /*background-color: #fcf8e3;*/
  /*border-color: #faf2cc;*/
  color: #8a6d3b;
}

.alert-info {
  color: #31708f;
}

.alert-success {
  color: #3c763d;
}

