<div class="alert-indicator" *ngIf="shouldShowErrors()">
     <span  [ngClass]="{'alert-error': typeMessage === 'ERROR','alert-warning': typeMessage === 'WARNING','alert-info': typeMessage === 'INFO','alert-success': typeMessage === 'SUCCESS' }"
            *ngFor="let error of listOfErrors()">{{error | translate}}
   </span>
</div>
