.ngx-cell {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.ngx-cell-each-column{
  background-color:  rgba(0,69,139,.1);
}

.header-ngx-table{
  color:black!important;
  text-align: center!important;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Tahoma, Geneva, sans-serif;
  color: rgba(0, 0, 0, 0.6)!important;
}
.text-ngx-table{
  text-align: center!important;
}
