<div
  style="border:1px solid rgba(0,0,0,0.1);background: white; box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.17);padding: 20px;min-height:400px;">
  <div
    style="border-bottom: 0px solid  #00428b;color:#00428b;width:260px; background: transparent;margin-bottom: 25px;text-transform: uppercase;">
    <div class="title-font" style="position:relative;width:550px;font-size: 1.5em;">Liste des categories de domaine
    </div>
  </div>
  <hr>

  <div>
    <ngx-datatable
      class="material striped"
      [columnMode]="'force'"
      [rowClass]="getRowClass"
      [headerHeight]="50"
      [rowHeight]="50"
      [messages]="{emptyMessage: 'Aucun résultat ne correspond à votre recherche', totalMessage: ''}"
      [rows]="rows">
      <ngx-datatable-column name="Id" [width]="80" headerClass="header-ngx-table"
                            [cellClass]="getCellClass"></ngx-datatable-column>
      <ngx-datatable-column name="Name" [width]="300" headerClass="header-ngx-table"
                            [cellClass]="getCellClass"></ngx-datatable-column>
      <ngx-datatable-column name="Gender" headerClass="header-ngx-table"
                            [cellClass]="getCellClass"></ngx-datatable-column>
      <ngx-datatable-column name="Age" headerClass="header-ngx-table" [cellClass]="getCellClass"></ngx-datatable-column>
      <ngx-datatable-column name="City" [width]="300" prop="address.city" headerClass="header-ngx-table"
                            [cellClass]="getCellClass"></ngx-datatable-column>
      <ngx-datatable-column name="State" [width]="300" prop="address.state" headerClass="header-ngx-table"
                            [cellClass]="getCellClass"></ngx-datatable-column>


      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset">
          <div style="padding: 5px 10px">
            <div>
              <strong>Summary</strong>: Gender: Female
            </div>
            <hr style="width:100%"/>
            <div>
              Rows: {{rowCount}} |
              Size: {{pageSize}} |
              Current: {{curPage}} |
              Offset: {{offset}}
            </div>
          </div>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>

  <div style="margin-top:50px">
  </div>
</div>
