<div *ngIf="user;then authActive else authNotActive">
  <!-- //-->
</div>
<ng-template #authActive>
  <div>
    <app-head-menu></app-head-menu>
    <app-side-menu></app-side-menu>
    <app-global-container></app-global-container>
  </div>
</ng-template>

<ng-template #authNotActive>
  <div>
    <app-global-container></app-global-container>
  </div>
</ng-template>
