/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

$bordeau: #00428b;
$violet-gris: #8f6c7c;
$prune: #00428b;
$gris-clair: #EDECEC;
$gris-clair-bleu: #767676;
$gris-fonce: #323a45;

body {
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, .050);
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, .125) !important;
  border-radius: .25rem;
  text-transform: uppercase;
  color: #00428b;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: transparent !important;
}

.label-ctr-document {
  font-weight: bold;
}

.btn-primary {
  color: #fff;
  background-color: #00428b;
}

.btn-group-lg > .btn, .btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0rem;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10%;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 0rem;
}

.dropdown-item.active, .dropdown-item:active {
  color: black;
  text-decoration: none;
  background-color: #fff;
}

.has-errors {
  border: 2px solid red;
}

.title-font, .btn-font {
  font-family: Tahoma, Geneva, sans-serif;
}

.label-comic-font {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.menu-left-font, .head-menu-font {
  font-family: "Times New Roman", Times, serif;
}

.label-select-user {
  font-family: "Century Gothic", cursive, sans-serif;
  font-size: .8em;
  font-weight: bold;
}
.label-select-font {
  font-family: "Century Gothic", cursive, sans-serif;
}

.ngx-datatable.material.single-selection .datatable-body-row.active, .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-selection .datatable-body-row.active, .ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active, .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
  background-color: rgb(243, 243, 243);
  color: black;
}

.ngx-datatable.material.single-selection:hover .datatable-body-row.active:hover, .ngx-datatable.material.single-selection:hover .datatable-body-row.active:hover .datatable-row-group:hover, .ngx-datatable.material.multi-selection .datatable-body-row.active:hover, .ngx-datatable.material.multi-selection .datatable-body-row.active:hover .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active, .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group:hover {
  background-color: #eee;
  color: black;
}

.ngx-datatable.material {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.form-control {
  display: block;
  height: 50px;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #00428b;
  border-radius: 0rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-bottom: 15px;
  font-family: "Century Gothic", cursive, sans-serif;
}

.col-form-label {
  font-size: 1.2em;
  text-align: right;
  //font-weight: bold;
  color: rgba(0, 0, 0, .8);
}

.btn-submit, .btn-reset {
  height: 45px !important;
  text-transform: uppercase;
  margin-left: 30px;
  width: 180px;
  border: 1px solid transparent;
  font-weight: bold;
  cursor: pointer;
  font-family: "Century Gothic", cursive, sans-serif;
}

.btn-submit {
  background: linear-gradient(#0a4e8b, #00428b);
  color: #fff;
}

//
//.form-check-inline {
//  background: transparent;
//  height:24px;
//  color: #a7145a;
//  border: #a7145a thin;
//}
//
//label.form-check-inline.fl-left {
//  width: 48%;
//  float: left;
//  font-size: smaller;
//}

input, select {
  border-radius: 0;
}

input:focus {
  border-radius: 0;
}

label.form-check-inline {
  align-items: normal;
  padding-left: 0;
  margin-right: 0.75rem;
  line-height: 15px;
}

.form-check-inline.checkbox-primary {
  background: transparent;
  color: #00428b;
  border: #00428b thin;
  border-radius: 0 !important;
}

input[type="checkbox"]:checked:before {
  transform: scale(1);
}

input[type="checkbox"]:before {
  content: "";
  display: block;
  height: 15px;
  position: relative;
  transform: scale(0);
  transition: transform 0.3s;
  width: 12px;
  background-color: #00428b;
  color: #00428b;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #00428b;
  margin-right: 10px;
  position: relative;
}

@media(min-width: 769px) {
  label.form-check-inline.fl-left {
    width: 25%;
    float: left;
    font-size: smaller;

  }

}

@media(max-width: 768px) {
  label.form-check-inline.fl-left {
    width: 100%;
    float: left;
    font-size: smaller;
  }

}

.has-errors {
  border: 1px solid #721c24 !important;
}

/*---------------------------------------------------
       MODALE D ACTIONS ------------------------- */

.modal {
  background: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 140050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal-content.actions > .modal-header {
  color: white;
  background: $bordeau;
  padding: 0.25em;

}

.has-errors {
//  color: red;
}

.modal-header {
  background: $bordeau;
  padding: 0.25rem 0.5em;
  border-radius: 0rem !important;
  color: white;
  h3 {
    color: white !important;
  }
}

.modal-header .close {
  padding: 1.2rem !important;
  color: white !important;
  margin: -1rem -1rem -1rem auto;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: white !important;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.modal-content {
  border-radius: 0rem !important;
  margin-top: 65px;
}

.modal-content.actions > .modal-header > a:hover {

  color: white;
}

.modal-content.actions > .modal-header > a:focus {
  color: white;
}

.modal-content.actions > .modal-body > table {
  font-family: 'OpenSans' !important;
  margin-bottom: 0 !important;
}

.modal-footer.actions {
  justify-content: center;
  padding: 0 !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
  }
}

/* -------------------------------- */
Loading page
  /* -------------------------------- */
  /*loader */
.loader-page {
  background: rgba(0,0,0,.2)!important;
  padding-top: 23px;
  max-height: 118px;
  z-index: 1001;
  position: absolute !important;
  top:0;
  bottom:0;
  border:1px solid red!important;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #00428b !important;
  width: 70px;
  height: 70px;
  margin: auto;
  padding: 20px;
  -webkit-animation: spin .5s linear infinite;
  /* Safari */
  animation: spin .5s linear infinite;
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
