<div
  style="border:1px solid rgba(0,0,0,0.1);background: white; box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.17);padding: 20px;">
  <div
    style="border-bottom: 0px solid  #00428b;color:#00428b;width:260px; background: transparent;margin-bottom: 25px;text-transform: uppercase;">
    <div class="title-font" style="position:relative;width:550px;font-size: 1.5em;">{{'ADD-USER.LABEL'|translate}}</div>
  </div>
</div>

