<div
  style="border:1px solid rgba(0,0,0,0.1);background: white;padding: 20px;">
  <div
    style="border-bottom: 0px solid  #00428b;color:#00428b;width:260px; background: transparent;margin-bottom: 25px;text-transform: uppercase;">
    <div class="title-font" style="position:relative;width:550px;font-size: 1.5em;">Attribuer un droit à
      l'utilisateur:
    </div>
  </div>

  <div>
    <form [formGroup]="addUserLDAPForm" (ngSubmit)="onSubmit(addUserLDAPForm)">
      <hr>
      <br>
      <div style="border:1px solid rgba(0,0,0,.1); padding: 50px">
        <legend style="font-size:1.15em;width:45%;text-decoration: underline" class="label-select-font"
                *ngIf="userLDAP">
          {{userLDAP.nomUsuel}} {{userLDAP.prenom}}(CODEAPH: {{userLDAP.codeAph}}):
        </legend>
        <br>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label label-select-font">Catégorie*:</label>
          <div class="col-sm-6 col-offset-2">
            <select class="form-control" style="height:50px;"
                    formControlName="categorie"
                    appValidatorEmptyField
                    [errorMessageEmptyFieldValidator]="'ADD-USER.ERROR.SITE'"
                    [ngClass]="{'has-errors':addUserLDAPForm.controls.categorie.invalid && addUserLDAPForm.controls.categorie.touched}"

            >
              <option value="null">Selectionner une catégorie dans la liste</option>
              <option *ngFor="let categorie of categories; let i=index" [value]="categorie.id">{{categorie.libelle}}
              </option>
            </select>
            <app-show-errors-input-field
              [control]="addUserLDAPForm.controls.categorie"
              [typeMessage]="'ERROR'">
            </app-show-errors-input-field>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label label-select-fontt">Domaine*:</label>
          <div class="col-sm-6 col-offset-2">
            <select class="form-control" style="height:50px;"
                    formControlName="domaine"
                    appValidatorEmptyField
                    [errorMessageEmptyFieldValidator]="'ADD-USER.ERROR.SITE'"
                    [ngClass]="{'has-errors':addUserLDAPForm.controls.domaine.invalid && addUserLDAPForm.controls.domaine.touched}"

            >
              <option value="null">Selectionner un domaine dans la liste</option>
              <option *ngFor="let domaine of domaines; let i=index" [value]="domaine.id">{{domaine.code}}</option>
            </select>
            <app-show-errors-input-field
              [control]="addUserLDAPForm.controls.domaine"
              [typeMessage]="'ERROR'">
            </app-show-errors-input-field>
          </div>

        </div>

        <!--<div class="form-group row" *ngIf="groupes">-->
        <div class="form-group row">
          <label class="col-sm-4 col-form-label label-select-font">Groupes*:</label>
          <!--<div class="col-sm-6 col-offset-2" [ngClass]="{'has-errors':gpCheccked}">-->
          <div class="col-sm-6 col-offset-2">
            <div style="margin-top:15px;">
              <!--<div style="border:1px solid black;min-height:255px;padding:15px">-->
              <div>
                <div *ngFor="let group of groupes; let i = index;"
                     formArrayName="groupes">
                  <label class="form-check-inline fl-left container">
                    <!--//[checked]="checkGroupListGroupToSelect(group.id)&& checkGroupListGroupTempToSelect(group.id)"//-->
                    <input class="form-check-inline" type="checkbox" value="Affaires juridiques" aria-label=""
                           (change)="onSelectedGroupes(group,$event.target.checked)"
                           [disabled]="checkGroupListGroupToSelect(group.id) && checkGroupListGroupTempToSelect(group.id)"
                           [ngClass]="{'gr-disabled': checkGroupListGroupToSelect(group.id)}"
                    />
                    {{group.label}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4" style="min-height:145px;background: transparent;"></div>
          <div class="col-sm-6 col-offset-2">
            <fieldset
              style="padding:15px;background:  rgba(0, 69, 139, .070);min-height:145px;border:1px solid #00428b;">
              <legend style="font-size:1.15em;width:35%" class="col-form-label label-select-font">
                Groupe(s) affecté(s):
              </legend>

              <div *ngFor="let group of listGrByUSer; let i = index;"
                   formArrayName="groupes">
                <label class="form-check-inline fl-left container">
                  <input class="form-check-inline" type="hidden" value="Affaires juridiques" aria-label=""
                  />
                  <span>{{i+1}}-</span>
                  <span
                    [ngClass]="{'gr-red':checkGroupSelectToListGroup(group.id),'gr-green':!checkGroupListGroupTempToSelect(group.id)}">{{group.libelle}}</span>&nbsp;
                  <span (click)="deleteGroupInstance(group)"
                    style="text-decoration: underline;cursor: pointer"
                    *ngIf="checkGroupSelectToListGroup(group.id) && checkGroupListGroupTempToSelect(group.id) ">(<i
                    class="fa fa-trash menu-lft clr-ft-icon"
                    style="color:#00428b;"></i>&nbsp;supprimer)</span>
                </label>
              </div>
            </fieldset>
          </div>
        </div>
      </div>


      <br>
      <hr>
      <br>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8" style="text-align:right">
          <input type="button" (click)="goBack()" value="{{'ADD-USER.FORM.BTN-RESET'| translate}}" class="btn-reset"/>
          <input type="submit" value="VALIDER" class="btn-submit"/>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- [hidden]="detailsSpinner" //-->

