<div class="container" *ngIf="!user">
  <h1 class="form-heading"></h1>
  <div class="main-div-logo"
       style="background-color: #00428b;height:80px!important;margin-bottom: -10px;text-align: center">
    <img src="assets/images/logo-aphp.png" alt="" width="96%"
         height="90% ">
  </div>
  <div class="login-form">
    <div class="main-div">
      <div class="row" *ngIf="hasError">
        <div class="col-lg-12">
          <div class="alert alert-danger" role="alert">
            <div class="row vertical-align">
              <div class="col-xs-1 text-center">
                <i class="fa fa-exclamation-triangle fa-2x"></i>&nbsp;<strong>Erreur :</strong>
                <!--</div>-->
                <!--<div class="col-xs-11" style="text-align: center">-->
                <span style="font-size: 0.8em">&nbsp;Impossible de se connecter ! L'identifiant ou le mot de passe n'est pas correct.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <h2 class="label-comic-font">Habilitation</h2>
        <p>Gestion des Habilitations</p>
        <p class="label-select-font">Veuillez saisir votre identifiant et mot de passe</p>
      </div>
      <form id="Login" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">

        <div class="form-group">


          <input type="email" class="form-control" id="inputEmail" placeholder="Code APH"
                 formControlName="login"
                 appValidatorEmptyField
                 errorMessageEmptyFieldValidator="Veuillez saisir votre identifiant"
                 [ngClass]="{'has-errors':loginForm.controls.login.invalid && loginForm.controls.login.touched}"
                 (keyup)="detectEvent($event)"
          >
          <app-show-errors-input-field
            [control]="loginForm.controls.login"
            [typeMessage]="'ERROR'">
          </app-show-errors-input-field>
        </div>

        <div class="form-group">

          <input type="password" class="form-control" id="inputPassword" placeholder="Mot de passe"
                 formControlName="password"
                 appValidatorEmptyField
                 errorMessageEmptyFieldValidator="Veuillez saisir votre mot de passe"
                 [ngClass]="{'has-errors':loginForm.controls.password.invalid && loginForm.controls.password.touched}"
                 (keyup)="detectEvent($event)"
          >
          <app-show-errors-input-field
            [control]="loginForm.controls.password"
            [typeMessage]="'ERROR'">
          </app-show-errors-input-field>
        </div>
        <div class="forgot">
          <!--<a href="reset.html">Forgot password?</a>-->
          &nbsp;
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>

      </form>
    </div>
    <p class="botto-text"></p>
  </div>
</div>

<div class="loader-page" [hidden]="detailsSpinner">
  <div class="loader"></div>
</div>
