<div
  style="border:1px solid rgba(0,0,0,0.1);background: white; padding: 20px;">
  <div
    style="border-bottom: 0px solid  #00428b;color:#00428b;width:260px; background: transparent;margin-bottom: 25px;text-transform: uppercase;">
    <div class="title-font" style="position:relative;width:550px;font-size: 1.5em;">Confirmation utilisateur</div>
  </div>
  <!--[(ngModel)]="model"-->
  <!--[value]="model['firstName']+' '+model['lastName']"-->
  <hr>
  <br>
  <fieldset
    style="padding:15px;background:  rgba(0, 69, 139, .070);min-height:145px;border:1px solid #00428b;margin-top: -25px">
    <legend style="font-size:1.15em;width:15%" class="col-form-label label-select-font">
     Nouveau utilisateur
    </legend>
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6">

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group row">
            <div class="col-lg-4 col-md-4 col-sm-4 control-label">
              <label class="text-uppercase label-select-font">
                CODE-APHP
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <span>{{userLDAP.codeAph}}</span>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group row">
            <div class="col-lg-4 col-md-4 col-sm-4 control-label">
              <label class="text-uppercase label-select-font">
                Nom Patronymique
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              {{userLDAP.nomPatronymique}}
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group row">
            <div class="col-lg-4 col-md-4 col-sm-4 control-label">
              <label class="text-uppercase label-select-font">
                nom Usuel
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              {{userLDAP.nomUsuel}}
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group row">
            <div class="col-lg-4 col-md-4 col-sm-4 control-label">
              <label class="text-uppercase label-select-font">
                prenom
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              {{userLDAP.prenom}}
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group row">
            <div class="col-lg-4 col-md-4 col-sm-4 control-label">
              <label class="text-uppercase label-select-font">
                telephone
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              {{userLDAP.telephone}}
            </div>
          </div>
        </div>

      </div>

      <!-- deuxieume colonne //-->
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group row">
            <div class="col-lg-4 col-md-4 col-sm-4 control-label">
              <label class="text-uppercase label-select-font">
                email
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              {{userLDAP.email}}
            </div>
          </div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group row">
            <div class="col-lg-4 col-md-4 col-sm-4 control-label">
              <label class="text-uppercase label-select-font">
                actif
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              {{userLDAP.actif}}
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group row">
            <div class="col-lg-4 col-md-4 col-sm-4 control-label">
              <label class="text-uppercase label-select-font">
                date de Creation
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              {{userLDAP.dateCreation | dateApp}}
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group row">
            <div class="col-lg-4 col-md-4 col-sm-4 control-label">
              <label class="text-uppercase label-select-font">
                date de Modification
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              {{userLDAP.dateModification | dateApp}}
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group row">
            <div class="col-lg-4 col-md-4 col-sm-4 control-label">
              <label class="text-uppercase label-select-font">
                Habilitations
              </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
            </div>
          </div>
        </div>

      </div>
    </div>

    <br>
    <hr>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center label-select-font">
        L'utilisateur <span style="font-weight:bold"> {{userLDAP.prenom}}  {{userLDAP.nomUsuel}}</span> a été ajouté
        avec succes!  <span style="text-decoration: underline;color: black"><a routerLink="/list-user">Accéder à la liste des utilisateurs</a></span>
      </div>
    </div>
  </fieldset>
</div>
