
<div *ngIf="user;then authActive else authNotActive">
  <!-- //-->
</div>
<ng-template #authActive>
  <div class="container-fluid main">
    <div style="width:98%;margin:auto;margin-top:110px;">
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #authNotActive>
  <div style="margin-top:10%">
    <router-outlet></router-outlet>
  </div>
</ng-template>
